@use '../../pages/page-theme' as theme;

.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: theme.$bg;

  &__body {
    display: flex;
    flex: 1;
  }

  &--client .app-shell__main {
    margin-left: theme.$sidebar-width;
    flex: 1;
    min-width: 0;
  }

  &__content {
    padding-top: 64px;
    min-height: calc(100vh - 64px);
  }
}
